.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right:  20px;
  }
  .navbar-links li a:hover{
    color: blue;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-menu-icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 10px;
  }
  
  .navbar-dropdown li {
    margin: 5px 0;
  }
  
  .navbar-dropdown li a {
    color: #333;
    text-decoration: none;
  }
  
  .navbar-links.active .navbar-dropdown {
    display: block;
  }
  